code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Silkscreen', cursive;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.home-header {
  text-align: center;
  background-color: #111927;
  background-image:
    radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%),
    radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
  color: white;
}

.home-main {
  color: white;
  text-align: center;
}





.card {
  width: 10%;
  height: 100%;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: block;
  float: left;
  padding: 100px;
  margin: 5%;
}

.card-img {
  width: 75%;
  height: 75%;
}

.hp-icons {
  width: 4rem;
  height: 5rem;
}



.bg {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  top: 0;
  display: absolute;
}

.scoreboard {
  background-color: white;
  border: solid rgb(47, 231, 47) 3px;
  border-collapse: collapse;
  display: none;
}


.nav-bar {

  position: fixed;

}

.nav {
  background-color: #155c1b;
  height: 80px;
  display: flex;
  justify-content: center;
  z-index: 2;
  padding: 10px;
  top: 0px;
  position: fixed;
  width: 100%;
}

.test{
  background-color: black;
}



.icons {
  max-width: 100%;
  max-height: 100%;
  margin: 0 50px;


}

.found-icons {
  opacity: 50%;
}

.nav-menu {
  position: relative;
  display: inline-block;
}

.nav-menu-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}



.nav-menu-content a {
  text-decoration: none;
  display: block;
}

.dropdown {
  width: 10%;
  border-radius: 5px;
  background-color: white;
  border: solid rgb(47, 231, 47) 2.5px;
  display: none;
  height: auto;
  max-height: 1%;
  z-index: 1;
  ;


}


li {
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
}

li:hover {
  background-color: dimgrey;
  color: white;
}

.scoreboard {
  background-color: white;
  border: solid rgb(47, 231, 47) 3px;
  border-collapse: collapse;
  display: none;
}


td,
tr,
th {
  border: 1px solid;
}


.dropdown-icons {
  max-width: 50%;
  max-height: 50%;
  float: left;


}

.dropdown-names {
  float: right;
  max-width: 50%;
  max-height: 50%;
}




@media only screen and (max-width: 1000px) {



  .nav {
    max-width: 100%;
    max-height: 100%;
    position: sticky;
    width: 100%;
  }




  .icons {
    float: none;
    max-width: 100%;
  }

  .dropdown {
    width: 25%;
    border-radius: 5px;
    background-color: white;
    border: solid rgb(47, 231, 47) 2.5px;
    display: none;
    height: -100px;
  }

  .icons {
    width: 100%;
  }

  li {
    max-width: 25%;

  }

  li:hover {
    background-color: white;
    color: black;
    width: 500%;
  }
}